@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 210 5% 8%;

    --card: 0 0% 99%;
    --card-foreground: 210 5% 8%;

    --popover: 0 0% 99%;
    --popover-foreground: 210 5% 8%;

    --primary: 210 5% 8%;
    --primary-foreground: 0 0% 99%;

    --secondary: 206 17% 90%;
    --secondary-foreground: 210 5% 8%;

    --muted: 206 17% 90%;
    --muted-foreground: 202 7% 32%;

    --accent: 237 100% 63%;
    --accent-foreground: 0 0% 99%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 206 17% 90%;
    --input: 206 17% 90%;
    --ring: 204 6% 15%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
